/*
Theme Name: Twenty Twenty Three
Text Domain: twentytwentythree
Version: 1.1
Requires at least: 4.7
Requires PHP: 5.2.4
Description: Lightweight theme with essential features.
Tags: blog, one-column, custom-background, custom-logo, custom-menu, editor-style, featured-images, rtl-language-support, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks, accessibility-ready
Author: Ashesh Thapa
Author URI: http://themegrill.com/
Theme URI: http://themegrill.com/themes/twentytwentythree/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

All files, unless otherwise stated, are released under the GNU General Public License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(156, 155, 155, 0.42);
}

.main-header {
    width: 80%;
    margin: 0 auto;
    background-color: #1c1c1c;
    padding: 30px;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    top: 0;
    z-index: 1;
}


.top-social ul {
    list-style: none;
    text-align: right;

}

.top-social {
    display: grid;
    vertical-align: center;
}

.top-social ul li {
    display: inline-block;

}

.top-social .fab {
    color: white;
    margin: 10px;
}

.search-bar {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(123, 122, 122, 0.9);
    padding: 20px;

}

.search-bar .fas-search:hover {
    cursor: pointer;
}

.search-bar form input {
    all: unset;
    border: 1px solid rgb(156, 155, 155);
}

.content-container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

}

.post {
    position: relative;

}

.post h3,
.post .meta {
    background-color: rgba(139, 138, 138, 0.8);
    padding-left: 5px;
}

.post .meta{
    margin-bottom: 5px;
}


.post-thumbnail img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter ease 300ms;
}

.post-thumbnail img:hover {
    filter: grayscale(0%);
}

.post a {
    color: black;
    text-decoration: none;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    padding: 3px;
}

.read-btn {
    color: black;
    cursor: pointer;
    font-weight: bold;
    background: none;
    border: none;
    padding-bottom: .5em;
    position: relative;
}


.read-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.read-btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.side-bar {
    border-top: 1px solid rgba(123, 122, 122, 0.9);
}

.side-bar li {
    list-style: none;
    margin-bottom: 20px;
}

.main-footer {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    border-top: 1px solid rgba(123, 122, 122, 0.9);
}

